<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
    <!-- tomcat 8.x 版本 servlet 3.1 JSP 2.3, EL 3.0  -->
    <display-name>display-name 只是提示作用可以删除</display-name>
    <welcome-file-list>
        <!-- 定义默认url访问 的首页。 -->
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <!-- SpringMVC 统一编码过滤器配置 开始 -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <!--要使用的字符集，一般我们使用UTF-8(保险起见UTF-8最好)-->
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <!--是否强制设置request的编码为encoding，默认false，不建议更改-->
            <param-name>forceRequestEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <!--是否强制设置response的编码为encoding，建议设置为true，下面有关于这个参数的解释-->
            <param-name>forceResponseEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!-- url-pattern配置为/*表示拦截客户端浏览器所有的请求；
    其中在web容器启动的时候会调用CharacterEncodingFilter来实现将init-param中配置的参数记载进来
    -->
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- SpringMVC 统一编码配置 结束 -->

    <!-- Struts2的入口点是一个过滤器(Filter)。因此，Struts2要按过滤器的方式配置。下面是在web.xml中配置Struts2的代码： -->
    <!-- 配置 struts2 核心过滤器 拦截所有请求交给struts2去处理 -->
    <!--
      以上的配置是 Struts2.5 版本的配置，2.3 版本及其以下的版本的 filter-class 有点不同，
      为 org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter。具体以官方参考资料为准。
    -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- struts 2.5 必须配置spring 如果只是单纯Struts2 起不来 begin -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/ApplicationSpringContext.xml</param-value>
    </context-param>
    <!-- struts 2.5 必须配置spring 如果只是单纯Struts2 起不来 stop -->
    <!-- 设置会话过期时间  -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
